@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *));*/

@theme {
  --color-primary: #000;
  --color-primary-foreground: #fff;
  --color-secondary: #ff5c00;
  --color-secondary-foreground: #fff;
  --color-base-100: #fff;
  --color-accent: #0f0f0f;
  --color-accent-foreground: #fff;
  --color-neutral: #333;
  --color-neutral-content: #666;
  --color-input: #ddd;
  --color-background: #fff;
  --color-popover: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Onest", sans-serif;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  background: transparent !important;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  --tw-ring-shadow: none;
}

label {
  font-size: 15px;
  color: var(--color-neutral);
}

.no-focus:focus {
  outline: none;
  box-shadow: none;
}

.container {
  max-width: 96% !important;
  margin: auto;
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1150px !important;
  }
}

.primary_btn {
  background-color: var(--color-primary);
  color: var(--color-base-100);
  padding: 9px 16px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 400;
  border: 1px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.5s;
}

.primary_btn:hover {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.active {
  color: var(--color-secondary);
}

.service_card_wrap {
  position: relative;
}

.rotated_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  transform: rotate(6deg);
  border-radius: 8px;
  z-index: 0;
}

.service_card {
  position: relative;
  background: var(--color-accent);
  border-radius: 8px;
  padding: 40px 16px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-masonry-grid {
  display: flex;
  gap: 1rem;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}
